.Rproj.user
.Rhistory
.RData
.Ruserdata

*.DS_Store

R/data-raw/*
!R/data-raw/.keep
!R/data-raw/exac

R/data-out/*
!R/data-out/.keep

R/fig/*
!R/fig/.keep

R/analysis/*.docx
R/analysis/*.html
R/analysis/analysis_cache
R/analysis/analysis_files
!R/analysis/templateLandscape.docx

R/chargeChange/*.html